
@{
    ViewBag.Title = "client_changepassword";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}
<section class="breadcrumbs-custom bg-image novi-background bg-primary">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="\Client\client_changepassword">Change Password</a></li>
        </ul>
    </div>
</section>


<section class="section section-lg bg-default">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9 col-lg-7 col-xl-6">
                <h3 style="text-align:center">Change Password</h3>

                <!--RD Mailform-->
                <form class="rd-form text-right" method="post" action="\Client\client_changepassword" id="Changepassword">
                    <input type="hidden" name="UserId" value="@ViewBag.UserId" />
                    <div class="form-wrap form-group">
                        <label for="email" class="form-control" style="border:0px;text-align:left;">Email</label>
                        <input class="form-input form-control-has-validation" id="email" type="email" name="email" value="@ViewBag.Email" readonly="readonly" placeholder="Email"><span class="form-validation"></span>

                    </div>
                    <div class="form-wrap form-group">
                        <label for="Old Password" class="form-control" style="border:0px;text-align:left;">Old Password*</label>
                        <input class="form-input form-control-has-validation" id="OldPassword" type="password" value="" name="OldPassword" placeholder=" Old Password"><span class="form-validation"></span>

                    </div>
                    <div class="form-wrap form-group">
                        <label for="Password" class="form-control" style="border:0px;text-align:left;">Password*</label>
                        <input class="form-input form-control-has-validation" id="Password" type="password" value="" name="Password" placeholder="Password"><span class="form-validation"></span>

                    </div>
                    <div class="form-wrap form-group">
                        <label for="ConfirmPassword" class="form-control" style="border:0px;text-align:left;">Confirm Password*</label>
                        <input class="form-input form-control-has-validation" id="ConfirmPassword" type="password" name="ConfirmPassword" placeholder="Confirm Password"><span class="form-validation"></span>

                    </div>
                    <button class="button button-primary" value="Login" type="submit">Change Password</button>
                </form>
            </div>

        </div>
    </div>
</section>
<script src="~/Content/plugins/jquery/jquery.min.js"></script>
<script src="~/Content/plugins/jquery-validation/jquery.validate.min.js"></script>
<script type="text/javascript">

    $('#Changepassword').validate({
        rules: {
            Password: {
                required: true,

            },
            OldPassword: {
                required: true,
            },
            ConfirmPassword: {
                required: true,
                equalTo: "#Password"
            },

        },
        messages: {
            Password: {
                required: "Please enter your password. ",

            },
            OldPassword: {
                required: "Please enter your Old password. ",

            },
            ConfirmPassword: "Please enter confirm password same as password.",


        },
        errorElement: 'span',
        errorPlacement: function (error, element) {
            error.addClass('invalid-feedback');
            element.closest('.form-group').append(error);
        },
        highlight: function (element, errorClass, validClass) {
            $(element).addClass('is-invalid');
        },
        unhighlight: function (element, errorClass, validClass) {
            $(element).removeClass('is-invalid');
        }
    });
</script>
