
@{
    ViewBag.Title = "FilePersonalTax";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}
<section class="breadcrumbs-custom bg-image novi-background bg-primary">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Services</a></li>
            <li class="active">Accounting Services</li>
        </ul>
    </div>
</section>
<section class="section section-lg bg-default" style="padding:50px;">

    <div class="container">

        @if (TempData["Success"] != null)
        {

            <div class="alert alert-warning alert-dismissible fade show" role="alert" style="color:white;background: #90EE90;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Success!</strong> @TempData["Success"]
            </div>
        }
        @if (TempData["Error"] != null)
        {

            <div class="alert alert-danger alert-dismissible fade show" role="alert" style="color:white;background: #90EE90;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Error!</strong> @TempData["Error"]
            </div>
        }
        <form class="rd-form" action="\Client\FilePersonalTax" method="post" id="FilePersonalTax">
            <div class="col-md-12" style="text-align:center;background-color:black;color:white;padding-bottom:10px;padding-top:10px">
                PERSONAL INFORMATION
            </div>
            <div class="col-md-12 row form-group" style="margin-top:10px">
                <div class="col-md-2 ">
                    <label class="form-control" for="NewClient" style="border:0px;">New Client</label>
                </div>
                <div class="col-md-4 " style="padding-top:8px;">
                    <input class="ExistanceClient" id="NewClient" type="checkbox" name="NewClient" checked="checked" value="true" onclick="ExistenceCheckBox(this)">
                </div>
                <div class="col-md-2 ">
                    <label class="form-control" for="ReturningClient" style="border:0px;">Returning Client</label>
                </div>
                <div class="col-md-4 " style="padding-top:8px;">
                    <input class="ExistanceClient" id="ReturningClient" type="checkbox" name="ReturningClient" value="false" onclick="ExistenceCheckBox(this)">
                </div>
            </div>
            <div class="col-md-12 row form-group" style="margin-top:10px">
                <div class="col-md-4 form-group">
                    <label class="" for="FirstName" style="border:0px; padding-left:10px;color:black">First Name</label>
                    <input class="form-input form-control-has-validation" id="FirstName" type="text" name="FirstName">
                </div>

                <div class="col-md-4 form-group">
                    <label for="MiddleName" style="border:0px;color:black;padding-left:10px">Middle Name</label>
                    <input class="form-input form-control-has-validation" id="MiddleName" type="text" name="MiddleName">
                </div>

                <div class="col-md-4 form-group">
                    <label for="LastName" style="border:0px; color:black;padding-left:10px">Last Name</label>
                    <input class="form-input form-control-has-validation" id="LastName" type="text" name="LastName">
                </div>
            </div>
            <div class="col-md-12 row form-group" style="margin-top:10px">
                <div class="col-md-6 form-group">
                    <label for="SIN" style="border:0px; color:black;padding-left:10px">SIN</label>
                    <input class="form-input form-control-has-validation" id="SIN" type="text" name="SIN">
                </div>
                <div class="col-md-6 form-group">
                    <label for="DateOfBirth" style="border:0px; color:black;padding-left:10px">Date Of Birth</label>
                    <input class="form-input form-control-has-validation" id="datepicker" type="datetime" autocomplete="off" name="DateOfBirth">
                </div>
            </div>
            <div class="col-md-12 row form-group" style="margin-top:10px">
                <div class="col-md-6 form-group">
                    <label for="Phone" style="border:0px; color:black;padding-left:10px">Phone</label>
                    <input class="form-input form-control-has-validation" id="Phone" type="text" name="Phone" onkeypress="phoneno()">
                </div>
                <div class="col-md-6 form-group">
                    <label for="Email" style="border:0px; color:black;padding-left:10px">Email</label>
                    <input class="form-input form-control-has-validation" id="Email" type="email" name="Email">
                </div>
            </div>
            <div class="col-md-12 row form-group" style="margin-top:10px">
                <div class="col-md-6">
                    <label for="MaritalStatus" style="border:0px; color:black;padding-left:10px"> Marital Status:</label>
                    <div class="form-wrap form-group">
                        <select class="form-input form-control-has-validation" name="MaritalStatus" id="MaritalStatus" style="border: 1px solid grey;">
                            <option selected="" disabled="">Select</option>
                            <option>Single</option>
                            <option>Married</option>
                            <option>Divorced</option>
                            <option>Separated</option>
                            <option>Widow</option>
                            <option>Spouse</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <label for="Sex" style="border:0px; color:black;padding-left:10px"> Sex:</label>
                    <div class="form-wrap form-group">
                        <select class="form-input form-control-has-validation" name="Sex" id="Sex" style="border: 1px solid grey;">
                            <option selected="" disabled="">Select</option>
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-12 row" style="margin-top:10px">
                <div class="col-md-6 form-group">
                    <label for="Phone" style="border:0px; color:black;padding-left:10px">Current Address</label>
                    <input class="form-input form-control-has-validation" id="Address" type="text" name="Address">
                </div>
                <div class="col-md-6 form-group">
                    <label for="Email" style="border:0px; color:black;padding-left:10px">City</label>
                    <input class="form-input form-control-has-validation" id="City" type="text" name="City">
                </div>
            </div>
            <div class="col-md-12 row" style="margin-top:10px">
                <div class="col-md-6 form-group">
                    <label for="Phone" style="border:0px; color:black;padding-left:10px">Province</label>
                    <input class="form-input form-control-has-validation" id="Province" type="text" name="Province">
                </div>
                <div class="col-md-6 form-group">
                    <label for="Email" style="border:0px; color:black;padding-left:10px">PostalCode</label>
                    <input class="form-input form-control-has-validation" id="PostalCode" type="number" name="PostalCode">
                </div>
            </div>
            <div class="col-md-12 row" style="margin-top:10px;">
                <div class="col-md-6 form-group">
                    <label for="Entrydatetime" style="border:0px; color:black;padding-left:10px">Date Of Entry in Canada(if filing first time)</label>
                    <input class="form-input form-control-has-validation" id="Entrydatetime" type="datetime" name="Entrydatetime">
                </div>
            </div>
            <div class="col-md-12" style="text-align:center;background-color:black;color:white;padding-bottom:10px;padding-top:10px">
                Family INFORMATION
            </div>
            <div class="col-md-12 row" style="margin-top:10px">
                <div class="col-md-4 form-group">
                    <label class="" for="SpouseName" style="border:0px; padding-left:10px;color:black">NameOfSpouse(FirstName)</label>
                    <input class="form-input form-control-has-validation" id="SpouseName" type="text" name="SpouseFirstName">
                </div>
                <div class="col-md-4 form-group">
                    <label for="MiddleName" style="border:0px;color:black;padding-left:10px">Middle Name</label>
                    <input class="form-input form-control-has-validation" id="MiddleName" type="text" name="SpouseMiddleName">
                </div>
                <div class="col-md-4 form-group">
                    <label for="LastName" style="border:0px; color:black;padding-left:10px">Last Name</label>
                    <input class="form-input form-control-has-validation" id="LastName" type="text" name="SpouseLastName">
                </div>
            </div>
            <div class="col-md-12 row" style="margin-top:10px">
                <div class="col-md-6 form-group">
                    <label for="SIN" style="border:0px; color:black;padding-left:10px">SIN(if applicable)</label>
                    <input class="form-input form-control-has-validation" id="SIN" type="text" name="SpouseSIN">
                </div>
                <div class="col-md-6 form-group">
                    <label for="DateOfBirth" style="border:0px; color:black;padding-left:10px">Date Of Birth</label>
                    <input class="form-input form-control-has-validation" id="datepicker4" type="datetime" name="SpouseDateOfBirth">
                </div>
            </div>
            <div class="col-md-12 row" style="margin-top:10px;">
                <div class="col-md-6 form-group">
                    <label for="Entrydatetime1" style="border:0px; color:black;padding-left:10px">Date Of Entry in Canada(if filing tax first time in CANADA)</label>
                    <input class="form-input form-control-has-validation" id="Entrydatetime1" type="datetime" name="Entrydatetime1">
                </div>
            </div>
            <div class="col-md-12" style="text-align:center;background-color:black;color:white;padding-bottom:10px;padding-top:10px">
                Children INFORMATION(if the kids are in Canada)
            </div>
            <div class="col-md-12 row" style="margin-top:10px">
                <div class="col-md-6 form-group">
                    <label for="Name" style="border:0px; color:black;padding-left:10px">First Child Name</label>
                    <input class="form-input form-control-has-validation" id="Name" type="text" name="Children1Name">
                </div>
                <div class="col-md-6 form-group">
                    <label for="DateOfBirth" style="border:0px; color:black;padding-left:10px">Date Of Birth</label>
                    <input class="form-input form-control-has-validation" id="datepicker3" type="datetime" name="Children1DateOfBirth" autocomplete="off">
                    @*<input class="form-input form-control-has-validation" id="DateOfBirth" type="text" name="DateOfBirth" data-constraints="Required">*@
                </div>
            </div>
            <div class="col-md-12 row" style="margin-top:10px">
                <div class="col-md-6 form-group">
                    <label for="Name" style="border:0px; color:black;padding-left:10px">Second Child Name</label>
                    <input class="form-input form-control-has-validation" id="Name" type="text" name="Children2Name">
                </div>
                <div class="col-md-6 form-group">
                    <label for="DateOfBirth" style="border:0px; color:black;padding-left:10px">Date Of Birth</label>
                    <input class="form-input form-control-has-validation" id="datepicker2" type="datetime" name="Children2DateOfBirth" autocomplete="off">
                </div>
            </div>
            <div class="col-md-12 row" style="margin-top:10px">
                <div class="col-md-6 form-group">
                    <label for="Name" style="border:0px; color:black;padding-left:10px">Third Child Name</label>
                    <input class="form-input form-control-has-validation" id="Name" type="text" name="Children3Name">
                </div>
                <div class="col-md-6 form-group ">
                    <label for="Name" style="border:0px; color:black;padding-left:10px">Date Of Birth</label>
                    <input class="form-input form-control-has-validation" id="datepicker1" type="datetime" name="Children3DateOfBirth" autocomplete="off">

                </div>
            </div>
            <div class="col-md-12 row">
                <div class="col-md-2">
                    <button type="submit" class="button button-primary">Submit</button>
                </div>
                <div class="col-md-2" style="margin-left:-70px;">
                    <button type="button" class="button button-primary" onclick="return cancel();">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</section>

<script src="~/Content/plugins/jquery/jquery.min.js"></script>
<script src="~/Content/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
<link href="~/ClientContent/js/datepicker.css" rel="stylesheet" />

<script type="text/javascript">
    $(document).ready(function () {
        bsCustomFileInput.init();
    });
    $(function () {
        $('#datepicker').datepicker({
            dateFormat: "dd/mm/yyyy",
            autoclose: true
        });
        $('#datepicker1').datepicker({
            dateFormat: "dd/mm/yyyy",
            autoclose: true
        });
        $('#datepicker2').datepicker({
            dateFormat: "dd/mm/yyyy",
            autoclose: true
        });
        $('#datepicker3').datepicker({
            dateFormat: "dd/mm/yyyy",
            autoclose: true
        });
        $('#datepicker4').datepicker({
            dateFormat: "dd/mm/yyyy",
            autoclose: true
        });
        $('#Entrydatetime1').datepicker({
            dateFormat: "dd/mm/yyyy",
            autoclose: true
        });
        $('#Entrydatetime').datepicker({
            dateFormat: "dd/mm/yyyy",
            autoclose: true
        });
    });


    //$(function () { $('#datepicker').datepicker({ autoHide: true, zIndex: 2048, }); });
    //$('#datepicker').datepicker();
    //$('#datepicker1').datepicker();
    //$('#datepicker2').datepicker();
    //$('#datepicker3').datepicker();
    //$('#datepicker4').datepicker();
</script>
<script type="text/javascript">
    function phoneno() {
        $("#Phone").keypress(function (e) {
            var length = jQuery(this).val().length;
            if (length >= 10) {
                return false;
            } else if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            } else if ((length == 0) && (e.which == 48)) {
                return false;
            }
        });
    }

    function ExistenceCheckBox(check) {
        $(".ExistanceClient").prop('checked', false)
        $(".ExistanceClient").attr('value', false)
        check.checked = true;
        check.value = true;
    }
</script>

<script>
    function cancel() {
        $("#FirstName").val('');
        $("#MiddleName").val('');
        $("#LastName").val('');
        $("#SIN").val('');
        $("#datepicker4").val('');
        $("#Phone").val('');
        $("#Email").val('');
        $("#Address").val('');
        $("#City").val('');
        $("#Province").val('');
        $("#PostalCode").val('');
        $("#SpouseName").val('');
        $("#MiddleName").val('');
        $("#LastName").focus();
        $("#SIN").focus();
        $("#datepicker3").focus();
        $("#Name").focus();
        $("#datepicker2").focus();
        $("#Name").focus();
        $("#datepicker").focus();
        $("#Name").focus();
        $("#datepicker1").focus();
        return false;

    }
</script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/Content/plugins/jquery/jquery.min.js"></script>
<script src="~/Content/plugins/jquery-validation/jquery.validate.min.js"></script>
<script type="text/javascript">

    $('#FilePersonalTax').validate({
        rules: {
            FirstName: {
                required: true,

            },
            MiddleName: {
                required: true,


            },
            LastName: {
                required: true,


            },
            SIN: {
                required: true,


            },
            Phone: {
                required: true

            },
            Email: {
                required: true,
                email: true,

            },



        },
        messages: {
            FirstName: {
                required: "Please enter a First Name. ",

            },
            MiddleName: {
                required: "Please enter a Middle Name. ",

            },
            LastName: {
                required: "Please enter a Last Name. ",

            },
            SIN: {
                required: "Please enter a SIN. ",

            },
            Phone: {
                required: "Please enter a Mobile Number.",
                minlength: "Your Mobile Number must be at least 10 characters long."

            },
            Email: {
                required: "Please enter a Email.",
                email: "Please enter a vaild email address.",
            },



        },
        errorElement: 'span',
        errorPlacement: function (error, element) {
            error.addClass('invalid-feedback');
            element.closest('.form-group').append(error);
        },
        highlight: function (element, errorClass, validClass) {
            $(element).addClass('is-invalid');
        },
        unhighlight: function (element, errorClass, validClass) {
            $(element).removeClass('is-invalid');
        }
    });
</script>






