
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}
    @*<img src="~/ClientContent/images/index-1-slider-1-1920x768.jpg" />*@
<section class="section swiper-container swiper-slider swiper-slider-1 context-dark" data-loop="true" data-autoplay="5000" data-simulate-touch="false">
    <div class="swiper-wrapper">
        <div class="swiper-slide" data-slide-bg="../ClientContent/images/index-1-slider-1-1920x768.jpg" />
            <div class="swiper-slide-caption section-lg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-7 offset-md-1 offset-xxl-0">
                            <h1><span class="d-block" data-caption-animate="fadeInUp" data-caption-delay="100">Pabla's Accounting</span><span class="d-block text-light" data-caption-animate="fadeInUp" data-caption-delay="200">& Tax Services</span></h1>
                            <p class="lead" data-caption-animate="fadeInUp" data-caption-delay="350">Providing every client with the attention they deserve.</p>
                            <div class="button-wrap-default" data-caption-animate="fadeInUp" data-caption-delay="450"><a class="button button-secondary-text" href="tax-services.html">Read more</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide" data-slide-bg="../ClientContent/images/index-1-slider-2-1920x768.jpg">
            <div class="swiper-slide-caption section-lg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-7 offset-md-1 offset-xxl-0">
                            <h1><span class="d-block" data-caption-animate="fadeInUp" data-caption-delay="100">Full Accounting Support</span><span class="d-block text-light" data-caption-animate="fadeInUp" data-caption-delay="200">for Your Business</span></h1>
                            <p class="lead" data-caption-animate="fadeInUp" data-caption-delay="350">Get rid of any accounting issues with our team’s assistance.</p>
                            <div class="button-wrap-default" data-caption-animate="fadeInUp" data-caption-delay="450"><a class="button button-secondary-text" href="our-story.html">Read more</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide" data-slide-bg="../ClientContent/images/index-1-slider-3-1920x768.jpg">
            <div class="swiper-slide-caption section-lg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-7 offset-md-1 offset-xxl-0">
                            <h1><span class="d-block" data-caption-animate="fadeInUp" data-caption-delay="100">Tax Services Provider</span><span class="d-block text-light" data-caption-animate="fadeInUp" data-caption-delay="200">Since 2007</span></h1>
                            <p class="lead" data-caption-animate="fadeInUp" data-caption-delay="350">We offer specialist tax knowledge and full support.</p>
                            <div class="button-wrap-default" data-caption-animate="fadeInUp" data-caption-delay="450"><a class="button button-secondary-text" href="accounting-services.html">Read more</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--Swiper Pagination-->
    <div class="swiper-pagination-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-lg-7 offset-md-1 offset-xxl-0">
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Icon List 2-->
<section class="section section-sm section-sm-bottom-100 bg-primary">
    <div class="container">
        <div class="row row-30">
            <div class="col-md-4 wow fadeInUp">
                <div class="box-icon-2">
                    <div class="icon novi-icon mercury-icon-calc"></div>
                    <h5 class="title">Accounting Services</h5>
                    <p class="text">We offer a full range of comprehensive accounting services to companies throughout Canada.</p>
                </div>
            </div>
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="box-icon-2">
                    <div class="icon novi-icon mercury-icon-chart"></div>
                    <h5 class="title">Income Tax</h5>
                    <p class="text">This Service allows you to submit and view your tax returns and receive instant notification of the return receipt.</p>
                </div>
            </div>
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.4s">
                <div class="box-icon-2">
                    <div class="icon novi-icon mercury-icon-time-sand"></div>
                    <h5 class="title">Financial Services</h5>
                    <p class="text">Our company provides various financial services including insurance, wealth management, tax consulting etc.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Monthly Market-->
@*<section class="section section-sm bg-default">
    <div class="container">
        <div class="row row-30 justify-content-xl-between align-items-md-center">
            <div class="col-md-10 col-lg-5 col-xl-5 col-xxl-4 wow fadeIn">
                <h2>Monthly Market <span class="text-light">Commentary</span></h2>
                <p class="big">The Monthly Market Update will inform you of the current market conditions.</p><a class="button button-icon button-custom-size button-icon-left button-secondary" href="#"><span class="icon mdi mdi-arrow-down"></span><span>Download Market Commentary</span></a>
            </div>
            <div class="col-lg-7 col-lg-6 wow fadeIn" data-wow-delay="0.2s">
                <div class="box-sharts">
                    <h3>Market <span class="text-light">Summary</span></h3>
                    <div class="heading-5 subtitle">Reflects close 2 days ago</div>
                    <table class="table-chart big font-weight-bold">
                        <tr>
                            <td>S&P 500</td>
                            <td class="text-gray-800">2,141.16</td>
                            <td class="text-accent-1">-.18 (-.01%)</td>
                        </tr>
                        <tr>
                            <td>S&P 100</td>
                            <td class="text-gray-800">949.66</td>
                            <td class="text-accent-2">+.54 (+.06%)</td>
                        </tr>
                        <tr>
                            <td>NASDAQ Composite</td>
                            <td class="text-gray-800">5,257.4</td>
                            <td class="text-accent-2">+15.57(+.3%)</td>
                        </tr>
                        <tr>
                            <td>10yr Treasury Yield</td>
                            <td class="text-gray-800">1.74</td>
                            <td class="text-accent-1">-.01 (-.4%)</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>*@
<!-- S&P 500-->
@*<section class="section section-md bg-default">
    <div class="container wow fadeIn">
        <h2>S&P <span class="text-light">500</span></h2><img src="../ClientContent/images/test-box-2-1186x348.jpg" alt="" width="1186" height="174" />
    </div>
</section>*@
<!-- Download Our Tax Guide App-->
<section class="section bg-gray-100 box-image-left">
    <div class="container">
        <div class="row">
            <div class="col-md-6 wow fadeInLeft">
                <div class="section-lg section-lg-top-100">
                    <h2 class="title-icon title-icon-2"><span class="icon icon-default mercury-icon-touch"></span><span>Download Our <br><span class="text-light">Tax Guide App</span></span></h2>
                    <p class="big">We are glad to introduce our brand new Tax Guide App, a perfect solution for individual tax management our clients have been waiting for. It is available now for all iOS andAndroid device owners.</p>
                    <div class="group-sm group-wrap-2"><a class="button button-primary" href="#">Get iOS app</a><a class="button button-icon button-icon-right button-secondary" href="#"><span>Get Android app</span><span class="icon fa fa-android"></span></a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-image-item box-image-video novi-background bg-image" style="background-image: url(../ClientContent/images/index-874x534.jpg)"><a class="icon novi-icon fa fa-caret-right" href="//www.youtube.com/embed/KFVUxSynSXc" data-lightgallery="item"></a></div>
</section>
<!-- Our Mission-->
<section class="section bg-default section-md">
    <div class="container">
        <div class="row row-30">
            <div class="col-md-6">
                <h2 class="title-icon"><span class="icon icon-default mercury-icon-target-2"></span><span>Our <span class="text-light">Mission</span></span></h2>
                <p class="big">Our mission is to provide accounting and tax services of a superior quality. The responsive, personal attention we provide for each client, regardless how large or small, is the key to our approach.</p>
                <ul class="list-marked-2">
                    <li>Providing high-quality accounting & tax services</li>
                    <li>Sharing professional experience in tax management</li>
                    <li>Offering full support to all our clients</li>
                </ul><a class="button button-primary" href="about.html">Read more</a>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-4">
                        <!--Box counter-->
                        <div class="box-counter">
                            <div class="box-counter-main">
                                <div class="counter">10000</div><span>+</span>
                            </div>
                            <p class="box-counter-title">Satisfied Clients</p>
                        </div>
                    </div>
                    <div class="col-4" style="padding-left:30px;">
                        <!--Box counter-->
                        <div class="box-counter">
                            <div class="box-counter-main">
                                <div class="counter">22</div>
                            </div>
                            <p class="box-counter-title">Team Members</p>
                        </div>
                    </div>
                    <div class="col-4" style="padding-left:17px;">
                        <!--Box counter-->
                        <div class="box-counter">
                            <div class="box-counter-main">
                                <div class="counter">99</div><span>%</span>
                            </div>
                            <p class="box-counter-title">Satisfaction Rate</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@*<section class="parallax-container" data-parallax-img="../ClientContent/images/parallax-1-1920x1026.jpg">
    <div class="parallax-content section-xl context-dark text-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 col-xl-9">
                    <h2>Monthly <span class="text-light">Offer</span></h2>
                    <div class="heading-5 font-weight-normal">Get our FREE financial consultation for your business taxes</div>
                   
                    <div class="countdown" data-countdown data-to="2019-12-31">
                        <div class="countdown-block countdown-block-days">
                            <svg class="countdown-circle" x="0" y="0" width="200" height="200" viewbox="0 0 200 200" data-progress-days="">
                                <circle class="countdown-circle-bg" cx="100" cy="100" r="90"></circle>
                                <circle class="countdown-circle-fg clipped" cx="100" cy="100" r="90"></circle>
                            </svg>
                            <div class="countdown-wrap">
                                <div class="countdown-counter" data-counter-days="">00</div>
                                <div class="countdown-title">days</div>
                            </div>
                        </div>
                        <div class="countdown-block countdown-block-hours">
                            <svg class="countdown-circle" x="0" y="0" width="200" height="200" viewbox="0 0 200 200" data-progress-hours="">
                                <circle class="countdown-circle-bg" cx="100" cy="100" r="90"></circle>
                                <circle class="countdown-circle-fg clipped" cx="100" cy="100" r="90"></circle>
                            </svg>
                            <div class="countdown-wrap">
                                <div class="countdown-counter" data-counter-hours="">00</div>
                                <div class="countdown-title">hours</div>
                            </div>
                        </div>
                        <div class="countdown-block countdown-block-minutes">
                            <svg class="countdown-circle" x="0" y="0" width="200" height="200" viewbox="0 0 200 200" data-progress-minutes="">
                                <circle class="countdown-circle-bg" cx="100" cy="100" r="90"></circle>
                                <circle class="countdown-circle-fg clipped" cx="100" cy="100" r="90"></circle>
                            </svg>
                            <div class="countdown-wrap">
                                <div class="countdown-counter" data-counter-minutes="">00</div>
                                <div class="countdown-title">minutes</div>
                            </div>
                        </div>
                        <div class="countdown-block countdown-block-seconds">
                            <svg class="countdown-circle" x="0" y="0" width="200" height="200" viewbox="0 0 200 200" data-progress-seconds="">
                                <circle class="countdown-circle-bg" cx="100" cy="100" r="90"></circle>
                                <circle class="countdown-circle-fg clipped" cx="100" cy="100" r="90"></circle>
                            </svg>
                            <div class="countdown-wrap">
                                <div class="countdown-counter" data-counter-seconds="">00</div>
                                <div class="countdown-title">seconds</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@

<!--Blockquote-->
<section class="section bg-gray-100 box-image-left">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="section-md section-md-bottom-50">
                    <h2 class="title-icon"><span class="icon icon-default mercury-icon-speak"></span><span>Testimonials</span></h2>
                    <div class="owl-carousel owl-carousel-1" data-items="1" data-dots="true" data-nav="false" data-stage-padding="0" data-loop="true" data-margin="30" data-mouse-drag="false">
                        <blockquote class="quote quote-simple">
                            <q>Costrax is one of the best when it comes to high-quality corporate structuring, financial strategy, and tax management.</q>
                            <div class="quote-meta">
                                <div class="author">
                                    <cite>Sara Parker</cite>
                                </div>
                                <div class="position">Chief executive officer</div>
                            </div>
                        </blockquote>
                        <blockquote class="quote quote-simple">
                            <q>I've had the pleasure of working with these guys for over 7 years. Over the time, they've been the best accountants to work with.</q>
                            <div class="quote-meta">
                                <div class="author">
                                    <cite>Sam Jackson</cite>
                                </div>
                                <div class="position">Lawyer</div>
                            </div>
                        </blockquote>
                        <blockquote class="quote quote-simple">
                            <q>The staff members at Costrax are friendly, knowledgeable, and experienced. That’s what I like most about them.</q>
                            <div class="quote-meta">
                                <div class="author">
                                    <cite>Ann White</cite>
                                </div>
                                <div class="position">Regional Manager</div>
                            </div>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-image-item novi-background bg-image" style="background-image: url(../ClientContent/images/typography-1-946x485.jpg)"></div>
</section>
<!-- Latest Articles-->
@*<section class="section bg-default section-md">
    <div class="container">
        <h2 class="title-icon"><span class="icon icon-default mercury-icon-news"></span><span>Latest <span class="text-light">Articles</span></span></h2>
        <div class="box-image-small box-image-small-left">
            <div class="item-image bg-image novi-nackground" style="background-image: url(../ClientContent/images/index-1-2-586x334.jpg)"></div>
            <div class="item-body wow fadeInRight">
                <p>July 12, 2019</p>
                <h4><a href="single-post.html">Saving Money When Paying Taxes</a></h4>
                <p class="big">If you’re like a majority of Americans, you may be looking for new, creative ways to ease your annual tax burden. Fortunately, there are several things you can do to cut your taxes or increase...</p>
            </div>
        </div>
        <div class="box-image-small box-image-small-right">
            <div class="item-image bg-image novi-nackground" style="background-image: url(../ClientContent/images/index-1-3-580x334.jpg)"></div>
            <div class="item-body wow fadeInLeft">
                <p>July 12, 2019</p>
                <h4><a href="single-post.html">What Is a 1035 Exchange?</a></h4>
                <p class="big">In this post, we will discuss what a 1035 exchange is and how it helps you manage and preserve your wealth and finances. A 1035 exchange is a specific transfer of funds from one life insurance policy...</p>
            </div>
        </div>
    </div>
</section>*@
<!-- Subscribe form-->
@*<section class="section section-md bg-primary">
    <div class="container">
        <form class="rd-form rd-form-inline-secondary rd-mailform" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="bat/rd-mailform.php">
            <div class="form-wrap">
                <input class="form-input" id="subscibe-email" type="email" name="email">
                <label class="form-label" for="subscibe-email">Enter your email here</label>
            </div>
            <button class="button form-button button-primary button-xs" type="submit">Subscribe</button>
        </form>
    </div>
</section>*@



