
@{
    ViewBag.Title = "services";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}
<section class="breadcrumbs-custom bg-image novi-background bg-primary">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Services</a></li>
            <li class="active">Accounting Services</li>
        </ul>
    </div>
</section>
<section class="section section-lg bg-default">
    <div class="container text-center text-lg-left">
        <h2>What <span class="text-light">We Do</span></h2>
        <div class="row row-30 row-lg-50" style="margin-top:15px;">
            <div class="col-sm-6 col-md-4">
                <div class="box-icon-3 unit flex-column flex-lg-row">
                    <div class="unit-body">
                        <h5 class="rd-megamenu-title">Personal</h5>
                        <ul class="list-marked-2">
                            <li><a class="rd-megamenu-list-link service" href="#PersonalTaxReturn">Personal Tax Return</a></li>
                            <li><a class="rd-megamenu-list-link service" href="#SelfEmployed">Self Employed</a></li>
                            <li><a class="rd-megamenu-list-link service" href="#TaxBenefits">Tax Benefits</a></li>
                        </ul>
                    </div>
                    @*<h5 class="rd-megamenu-title">Personal</h5>*@

                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="box-icon-3 unit flex-column flex-lg-row">
                    <div class="unit-body">
                        <h5 class="rd-megamenu-title">Corporate</h5>
                        @*<h5 class="rd-megamenu-title">Corporate</h5>*@
                        <ul class="list-marked-2">
                            <li class="rd-megamenu-list-item "><a class="rd-megamenu-list-link service" href="#BusinessTaxReturn">Business Tax Return</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link service" href="#Payroll">Payroll</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link service" href="#BookKeeping">Book Keeping</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link service" href="#GSTFiling">GST Filing</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link service" href="#FinancialStatement">Financial Statement</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link service" href="#AuditReviews">Audit Assistance</a></li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="box-icon-3 unit flex-column flex-lg-row">
                    <div class="unit-body">
                        <h5 class="rd-megamenu-title">Advisory</h5>
                        @*<h5 class="rd-megamenu-title">Advisory</h5>*@
                        <ul class="list-marked-2">
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link service" href="#FinancialAdvise">Financial Advise</a></li>
                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link service" href="#TaxPlanning">Tax Planning</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="section section-lg bg-default" style="padding:20px;">
    @*<div class="col-md-12" style="text-align:center;padding-bottom: 30px;">
            <h2>What <span class="text-light text-center">We Do</span></h2>
        </div>*@
    <div class="container">

        @*<div class="rd-navbar-main-element">
                <div class="rd-navbar-nav-wrap toggle-original-elements">
                    <ul class="rd-navbar-nav">
                        <li>
                            <ul class="rd-menu rd-navbar-megamenu rd-navbar-open-right" style="display:flex;">
                                <li class="rd-megamenu-item col-sm-6 col-md-4">

                                    <h5 class="rd-megamenu-title">Personal</h5>
                                    <ul class="list-marked-2">
                                        <li><a class="rd-megamenu-list-link" href="#PersonalTaxReturn">Personal Tax Return</a></li>
                                        <li><a class="rd-megamenu-list-link" href="#SelfEmployed">Self Employed</a></li>
                                        <li><a class="rd-megamenu-list-link" href="#TaxBenefits">Tax Benefits</a></li>
                                    </ul>

                                </li>
                                <li class="rd-megamenu-item col-sm-6 col-md-4">
                                    <h5 class="rd-megamenu-title">Corporate</h5>
                                    <ul class="list-marked-2">
                                        <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="#BusinessTaxReturn">Business Tax Return</a></li>
                                        <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="#Payroll">Payroll</a></li>
                                        <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="#BookKeeping">Book Keeping</a></li>
                                        <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="#GSTFiling">GST Filing</a></li>
                                        <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="#FinancialStatement">Financial Statement</a></li>
                                        <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="#AuditReviews">Audit Reviews</a></li>
                                    </ul>
                                </li>

                                <li class="rd-megamenu-item col-sm-6 col-md-4">
                                    <h5 class="rd-megamenu-title">Advisory</h5>
                                    <ul class="list-marked-2">
                                        <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="#FinancialAdvise">Financial Advise</a></li>
                                        <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="#TaxPlanning">Tax Planning</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>*@
        @*<h2>Personal Tax <span class="text-light">Return</span></h2>*@
        <div class="box-image-small box-image-small-1 box-image-small-left" id="PersonalTaxReturn">
            <div class="item-image bg-image novi-nackground" style="background-image: url(../ClientContent/images/accounting-services-1-586x507.jpg)"></div>
            <div class="item-body">
                <h3 class="font-weight-regular">Personal Tax Return</h3>
                <ul class="list-marked list-marked-big text-gray-800">
                    <li>We are committed to understand each client’s financial objectives and develop customized tax plans following an in-depth consultation. Our tax and accounting specialists will:</li>

                    <li>
                        <ul class="list-marked text-body-color">
                            <li>Expertly prepare and process your personal tax return</li>
                            <li>Maximize deductions by selecting the best filing choices to minimize your tax payable</li>
                            <li>Ensure that all tax credits are applied correctly on your personal income tax return</li>
                            <li>E-file your return ensuring the quickest processing of your tax return. Interest at prescribed rates will start to accrue after the April 30th deadline if payments are not made on time. Penalties may also start to apply if taxes are not submitted within the proper reporting period.</li>
                            <li>Support your tax filing with the Canada Revenue Agency, as required</li>
                            <li>Make your returns stress-free.</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="box-image-small box-image-small-right" id="SelfEmployed">
            <div class="item-image bg-image novi-nackground" style="background-image: url(../ClientContent/images/accounting-services-2-583x507.jpg)"></div>
            <div class="item-body">
                <h2 class="font-weight-regular">Self Employed</h2>
                <p class="big">Call, fax or email your company's hours and one of our payroll specialists will be there to help you! With our Payroll Service you will be working with experienced payroll professionals in conjunction with a staff accountant who knows you and your business personally.</p>
                @*<div class="heading-6">One low monthly fee includes everything:</div>*@
                <ul class="list-marked text-gray-800">
                    <li>We help you understand your duties and to keep your records up to date, Pabla’s Accounting and Tax Services will help you in every possible way.</li>
                    <li>We will make sure to count every single penny paid and claim all the expenses.</li>
                    <li>We help you in minimizing your tax at unbelievable rate.</li>

                </ul>
            </div>
        </div>
        <div class="box-image-small box-image-small-1 box-image-small-left" id="TaxBenefits">
            <div class="item-image bg-image novi-nackground" style="background-image: url(../ClientContent/images/accounting-services-3-586x507.jpg)"></div>
            <div class="item-body">
                <h3 class="font-weight-regular">Tax Benefits</h3>
                <p class="big">Pabla’s Accounting and Tax Services will make sure to get you every tax benefit that you are eligible for. Tax Benefits Includes:</p>
                <ul class="list-marked text-gray-800">
                    <li>Child Tax Benefits</li>
                    <li>Disability Tax Credits</li>
                    <li>Education deductions and credits</li>
                    <li>Pension and savings plan deductions and credits</li>
                    <li>Provincial and territorial tax and credits for individuals</li>
                    <li>Employment expenses and credits</li>
                    <li>All deductions, Expenses and Tax Credits.</li>
                </ul>
            </div>
        </div>
        <div class="box-image-small box-image-small-right" id="BusinessTaxReturn">
            <div class="item-image bg-image novi-nackground" style="background-image: url(../ClientContent/images/accounting-services-4-583x507.jpg)"></div>
            <div class="item-body">
                <h3 class="font-weight-regular">Business Tax Return</h3>
                <p class="big">Navigating tax laws for corporations can be extremely challenging, putting your business’ tax compliance at risk. As experienced accountants, Pabla’s Accounting and Tax Services is focused on advising our clients on how best to work within the current tax laws, to help them maximize their tax savings now and for years to come.</p>

                <h5> OUR CORPORATE TAX SERVICES INCLUDE:</h5>
                <ul class="list-marked list-marked-big">
                    <li>Preparation of corporate income tax returns</li>
                    <li>Tax planning</li>
                    <li>Corporate reorganization</li>
                    <li>Timely and accurate filing of T4, T5, and T3 statements</li>
                    <li>Accounting for income taxes</li>
                    <li>Tax deferral advice</li>
                    <li>Strategic wage or dividend payments</li>
                    <li>Income splitting options with family members</li>
                    <li>Tax estimates and instalment preparation</li>
                    <li>Corporate tax and GST/PST instalment planning and filings</li>
                    <li>Tax reporting services</li>
                    <li>Tax free rollovers of personal assets into a corporation</li>
                </ul>


            </div>
        </div>
        <div class="box-image-small box-image-small-1 box-image-small-left" id="Payroll">
            <div class="item-image bg-image novi-nackground" style="background-image: url(../ClientContent/images/accounting-services-3-586x507.jpg)"></div>
            <div class="item-body">
                <h3 class="font-weight-regular">Payroll</h3>
                <p class="big">Canadian federal and provincial payroll regulations are constantly evolving and can be challenging for unfamiliar businesses. We will share all applicable labour laws pertaining. We provide a wide range of payroll services by using the latest payroll software with fully updated deduction rates.</p>
                <ul class="list-marked text-gray-800">
                    <li>Weekly, bi-weekly, semi-monthly, monthly payroll issuance</li>
                    <li>Paystub creation for each employee and breakdown of applicable Canadian taxes</li>
                    <li>Monthly Source Deduction Calculation and remittance instructions</li>
                    <li>Record of Employment (ROE) creation for employees who are no longer employed</li>
                    <li>Annual T4 and Conditions of Employment Report & Distribution</li>
                    <li>CRA representation regarding payroll matters</li>
                </ul>
            </div>
        </div>
        <div class="box-image-small box-image-small-right" id="BookKeeping">
            <div class="item-image bg-image novi-nackground" style="background-image: url(../ClientContent/images/accounting-services-4-583x507.jpg)"></div>
            <div class="item-body">
                <h3 class="font-weight-regular">Book Keeping</h3>
                <p class="big">We are pleased to offer our clients professional bookkeeping services at Pabla’s Accounting and Tax Services. Let our dedicated and professional bookkeeping team process your business’s day-to-day transactions so you can do what you do best: run your business!</p>
                <h5> Our bookkeeping services include:</h5>
                <ul class="list-marked list-marked-big">
                    <li>Processing daily business transactions (sales, purchases, receivables, payables, etc.)</li>
                    <li>Payroll processing</li>
                    <li>Sales tax reconciliations and filings (for GST and PST)</li>
                    <li>Credit card and bank statement reconciliations</li>
                    <li>Setting up and maintaining accounting software specific to your business</li>
                    <li>Financial reporting</li>
                    <li>Monthly, quarterly, or annual reports for you to stay on top of company finances</li>
                    <li>General full-cycle accounting to suit your needs</li>
                </ul>
            </div>
        </div>
        <div class="box-image-small box-image-small-1 box-image-small-left" id="GSTFiling">
            <div class="item-image bg-image novi-nackground" style="background-image: url(../ClientContent/images/accounting-services-3-586x507.jpg)"></div>
            <div class="item-body">
                <h3 class="font-weight-regular">GST Filing</h3>
                <p class="big">GST/HST filing is the most challenging task for a business. We count every single transaction you do and calculate the GST/HST on that.</p>
                <h5> We help you in</h5>
                <ul class="list-marked text-gray-800">

                    <li>Appling for a GST/HST credit</li>
                    <li>Claiming a GST/HST rebate</li>

                </ul>
            </div>
        </div>
        <div class="box-image-small box-image-small-right" id="FinancialStatement">
            <div class="item-image bg-image novi-nackground" style="background-image: url(../ClientContent/images/accounting-services-2-583x507.jpg)"></div>
            <div class="item-body">
                <h2 class="font-weight-regular">Financial Statement</h2>
                <p class="big">
                    At Pabla’s Accounting and Tax Services, we commit time, energy and professional expertise to help our clients with preparing business financial statements.  Professionally compiled business financial statements make it a lot easier for all users of the financial statements to understand exactly what the numbers really mean.
                    Reliable and accurate business financial statements is integral to any business and is generally considered an important tool to make sound business decisions.
                </p>
                <div class="heading-6">Our reporting, accounting and business financial statement services include:</div>
                <ul class="list-marked text-gray-800">
                    <li>Preparing business financial statements</li>
                    <li>Due diligence reporting</li>
                    <li>Control and assurance reviews </li>
                    <li>Mergers and acquisitions</li>
                    <li>Sales tax/HST/GST</li>
                    <li>Financial forecasts</li>
                    <li>Special reports</li>
                </ul>
            </div>
        </div>
        <div class="box-image-small box-image-small-1 box-image-small-left" id="AuditReviews">
            <div class="item-image bg-image novi-nackground" style="background-image: url(../ClientContent/images/accounting-services-3-586x507.jpg)"></div>
            <div class="item-body">
                <h3 class="font-weight-regular">Audit Assistance</h3>
                <p class="big">We can help you navigate an audit no matter where you are in the process.</p>
                <div class="heading-6">We can effectively help you:</div>
                <ul class="list-marked text-gray-800">
                    <li>Review your tax situation</li>
                    <li>Plan a strategy to manage the CRA audit process for you</li>
                    <li>Timely submission of requested information Online.</li>
                    <li>Ensure a fair and clear process</li>
                    <li>Review and submit post audit proposals on your behalf</li>

                </ul>
            </div>
        </div>
        <div class="box-image-small box-image-small-right" id="FinancialAdvise">
            <div class="item-image bg-image novi-nackground" style="background-image: url(../ClientContent/images/accounting-services-2-583x507.jpg)"></div>
            <div class="item-body">
                <h2 class="font-weight-regular">Financial Advise</h2>
                <p class="big">Pabla’s Accounting and Tax Services provides the critical analysis you need to reach your business goals. Our financial advising will help you to highlight the weaknesses in your organization and we work with you to find creative solutions to the problems on hand. We believe in keeping it simple so you can focus on what you know best i.e. your business and leave the rest to us.</p>
                <div class="heading-6">One low monthly fee includes everything:</div>
                <ul class="list-marked text-gray-800">
                    <li>No extra charges at quarter or year-end!</li>
                    <li>Quarterly Payroll taxes, filed electronically</li>
                    <li>W-2's and W-3's</li>
                    <li>Direct Deposits or Paper Checks</li>
                    <li>Electronic Payment of Payroll taxes available</li>
                    <li>New Hire Reporting</li>
                </ul>
            </div>
        </div>
        <div class="box-image-small box-image-small-1 box-image-small-left" id="TaxPlanning">
            <div class="item-image bg-image novi-nackground" style="background-image: url(../ClientContent/images/accounting-services-3-586x507.jpg)"></div>
            <div class="item-body">
                <h3 class="font-weight-regular">Tax Planning</h3>
                <p class="big">If you are not planning ahead of time for your tax bill, you are probably paying too much. We would love to partner with you and your business and work with you to reduce your tax bill.</p>
                <ul class="list-marked text-gray-800">
                    <li>Data Entry</li>
                    <li>Bank and Credit Card Reconciliation</li>
                    <li>Payroll and Payroll Taxes, W-2's</li>
                    <li>State Sales Tax (Excise Tax Return)</li>
                    <li>1099's</li>
                    <li>A/R &amp; A/P (Invoicing and Bill Paying)</li>
                </ul>
            </div>
        </div>
        <div class="button-wrap-1 text-center"><a class="button button-primary" href="@Url.Action("ContactUs","Client")">Have a question?</a></div>
    </div>
</section>
<script src="~/Content/plugins/jquery/jquery.min.js"></script>
<script>
    $('.service').click(function () {
        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
            || location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            if (target.length) {
                $('html,body').animate({
                    scrollTop: target.offset().top - 75
                }, 500);
                return false;
            }
        }
    });

</script>
