
@{
    Layout = null;
}

<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900">

    <link href="~/ClientContent/css/bootstrap.css" rel="stylesheet" />
    <link href="~/ClientContent/css/fonts.css" rel="stylesheet" />
    <link href="~/ClientContent/css/style.css" rel="stylesheet" />
    <style>
        .ie-panel {
            display: none;
            background: #212121;
            padding: 10px 0;
            box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);
            clear: both;
            text-align: center;
            position: relative;
            z-index: 1;
        }

        html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {
            display: block;
        }
    </style>
</head>
<body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
        <div class="preloader-body">
            <div class="loader">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <p>Loading...</p>
        </div>
    </div>
    <div class="page">
        <header class="section page-header rd-navbar-transparent-wrap">
            <!--RD Navbar-->
            <div class="rd-navbar-wrap">
                <nav class="rd-navbar rd-navbar-transparent" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="44px" data-xl-stick-up-offset="44px" data-xxl-stick-up-offset="44px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                    <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
                    <div class="rd-navbar-aside-outer rd-navbar-collapse">
                        <div class="rd-navbar-aside">
                            <div class="rd-navbar-info">
                                <div class="icon novi-icon mdi mdi-phone"></div><a href="tel:#">+1 (800) 123 1234</a>
                            </div>
                            <ul class="list-lined">
                                <li><a href="login.html">Log in</a></li>
                                <li><a href="#">Create an account</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="rd-navbar-main-outer">
                        <div class="rd-navbar-main-inner">
                            <div class="rd-navbar-main">
                                <!--RD Navbar Panel-->
                                <div class="rd-navbar-panel">
                                    <!--RD Navbar Toggle-->
                                    <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                                    <!--RD Navbar Brand-->
                                    <div class="rd-navbar-brand">
                                        <!--Brand--><a class="brand" href="index.html"><img class="brand-logo-dark" src="images/logo-default-240x44.png" alt="" width="120" height="22" /><img class="brand-logo-light" src="images/logo-inverse-240x44.png" alt="" width="120" height="22" /></a>
                                    </div>
                                </div>
                                <div class="rd-navbar-main-element">
                                    <div class="rd-navbar-nav-wrap">
                                        <ul class="rd-navbar-nav">
                                            <li class="rd-nav-item">
                                                <a class="rd-nav-link" href="index.html">Home</a>
                                            </li>
                                            <li class="rd-nav-item">
                                                <a class="rd-nav-link" href="about.html">About</a>
                                                <ul class="rd-menu rd-navbar-dropdown">
                                                    <li class="rd-dropdown-item">
                                                        <a class="rd-dropdown-link" href="our-story.html">Our story</a>
                                                    </li>
                                                    <li class="rd-dropdown-item">
                                                        <a class="rd-dropdown-link" href="certifications-&amp;-memberships.html">Certifications &amp; Memberships</a>
                                                    </li>
                                                    <li class="rd-dropdown-item">
                                                        <a class="rd-dropdown-link" href="team.html">Team</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="rd-nav-item">
                                                <a class="rd-nav-link" href="#">Services</a>
                                                <ul class="rd-menu rd-navbar-dropdown">
                                                    <li class="rd-dropdown-item">
                                                        <a class="rd-dropdown-link" href="accounting-services.html">Accounting Services</a>
                                                    </li>
                                                    <li class="rd-dropdown-item">
                                                        <a class="rd-dropdown-link" href="tax-services.html">Tax Services</a>
                                                    </li>
                                                    <li class="rd-dropdown-item">
                                                        <a class="rd-dropdown-link" href="other-services.html">Other services</a>
                                                    </li>
                                                    <li class="rd-dropdown-item">
                                                        <a class="rd-dropdown-link" href="make-a-payment.html">Make a payment</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="rd-nav-item">
                                                <a class="rd-nav-link" href="blog.html">Blog</a>
                                                <ul class="rd-menu rd-navbar-dropdown">
                                                    <li class="rd-dropdown-item">
                                                        <a class="rd-dropdown-link" href="single-post.html">Single post</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="rd-nav-item active">
                                                <a class="rd-nav-link" href="#">Pages</a>
                                                <ul class="rd-menu rd-navbar-megamenu">
                                                    <li class="rd-megamenu-item">
                                                        <h6 class="rd-megamenu-title">Layouts</h6>
                                                        <ul class="rd-megamenu-list">
                                                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="index-2.html">Home 2</a></li>
                                                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="index-3.html">Home 3</a></li>
                                                        </ul>
                                                        <h6 class="rd-megamenu-title">Elements</h6>
                                                        <ul class="rd-megamenu-list">
                                                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="buttons.html">Buttons</a></li>
                                                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="forms.html">Forms</a></li>
                                                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="grid-system.html">Grid System</a></li>
                                                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="progress-bars.html">Progress bars</a></li>
                                                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="tables.html">Tables</a></li>
                                                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="tabs-and-accordions.html">Tabs and accordions</a></li>
                                                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="typography.html">Typography</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="rd-megamenu-item">
                                                        <h6 class="rd-megamenu-title">Resources</h6>
                                                        <ul class="rd-megamenu-list">
                                                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="financial-calculators.html">Financial Calculators</a></li>
                                                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="irs-publications.html">IRS Publications</a></li>
                                                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="tax-rates.html">Tax Rates</a></li>
                                                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="tax-due-dates.html">Tax Due Dates</a></li>
                                                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="tax-records.html">Tax Records</a></li>
                                                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="taxpayer-rights.html">Taxpayer Rights</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="rd-megamenu-item">
                                                        <ul class="rd-megamenu-list">
                                                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="tax-glossary.html">Tax Glossary</a></li>
                                                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="subscribe-to-tax-calendar.html">Subscribe to Tax Calendar</a></li>
                                                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="irs-withholding-calculator.html">IRS Withholding Calculator</a></li>
                                                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="where-is-my-refund.html">Where is my refund</a></li>
                                                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="tax-tips.html">Tax Tips</a></li>
                                                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="newsletter-archives.html">Newsletter Archives</a></li>
                                                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="subscribe.html">Subscribe</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="rd-megamenu-item">
                                                        <h6 class="rd-megamenu-title">Pages</h6>
                                                        <ul class="rd-megamenu-list">
                                                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="404.html">404</a></li>
                                                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="503.html">503</a></li>
                                                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="maintenance.html">Maintenance</a></li>
                                                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="coming-soon.html">Coming Soon</a></li>
                                                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="privacy-policy.html">Privacy Policy</a></li>
                                                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="login.html">Login</a></li>
                                                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="testimonials.html">Testimonials</a></li>
                                                            <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="site-map.html">Site map</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="rd-nav-item">
                                                <a class="rd-nav-link" href="contacts.html">Contacts</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="rd-navbar-bg novi-background bg-image" style="background-image: url(images/bg-navbar.jpg)"></div>
        </header>
        <!-- Breadcrumbs-->
        <section class="breadcrumbs-custom bg-image novi-background bg-primary">
            <div class="container">
                <ul class="breadcrumbs-custom-path">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">Pages</a></li>
                    <li class="active">Login</li>
                </ul>
            </div>
        </section>
        <!-- Log In-->
        <section class="section section-lg bg-default">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-lg-7 col-xl-6">
                        <h3>Log In</h3>
                        <div class="group-sm group-middle group-custom"><a class="button button-facebook" href="#"> Facebook</a><a class="button button-twitter" href="#"> Twitter</a><a class="button button-google" href="#"> Google+</a></div>
                        <div class="custom-form-wrap">
                            <div class="heading-5">or</div>
                            <!--RD Mailform-->
                            <form class="rd-form rd-mailform text-right">
                                <div class="form-wrap">
                                    <input class="form-input" id="login-email" type="email" name="email" >
                                    <label class="form-label" for="login-email">E-mail</label>
                                </div>
                                <div class="form-wrap">
                                    <input class="form-input" id="login-password" type="password" name="password" data-constraints="Required">
                                    <label class="form-label" for="login-password">Password</label>
                                </div>
                                <button class="button button-primary" type="submit">Enter</button>
                            </form>
                        </div>
                        <h5>Download Secure Client Portal App:</h5>
                        <div class="group-sm group-wrap-1"><a href="#"><img src="images/pay-item-1-133x45.png" alt="" width="133" height="22" /></a><a href="#"><img src="images/pay-item-2-133x44.png" alt="" width="133" height="22" /></a><a href="#"><img src="images/pay-item-3-135x46.png" alt="" width="135" height="23" /></a></div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="section footer-classic">
            <div class="footer-inner-1">
                <div class="container">
                    <div class="row row-40">
                        <div class="col-md-5 col-lg-3">
                            <h5>Address</h5>
                            <ul class="contact-list font-weight-bold">
                                <li>
                                    <div class="unit unit-spacing-xs">
                                        <div class="unit-left">
                                            <div class="icon icon-sm icon-primary novi-icon mdi mdi-map-marker"></div>
                                        </div>
                                        <div class="unit-body"><a href="#">14973 Interurban Ave <br>New York, NY 98168</a></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="unit unit-spacing-xs">
                                        <div class="unit-left">
                                            <div class="icon icon-sm icon-primary novi-icon mdi mdi-phone"></div>
                                        </div>
                                        <div class="unit-body"><a href="tel:#">+1 (800) 123 1234</a></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="unit unit-spacing-xs">
                                        <div class="unit-left">
                                            <div class="icon icon-sm icon-primary novi-icon mdi mdi-clock"></div>
                                        </div>
                                        <div class="unit-body">
                                            <ul class="list-0">
                                                <li>Weekdays: 8:00–17:00</li>
                                                <li>Weekends: Closed</li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul><a class="d-inline-block big" href="mailto:#">mail@demolink.org</a>
                        </div>
                        <div class="col-md-6 col-lg-5">
                            <h5>Links</h5>
                            <div class="row row-5 justify-content-between">
                                <div class="col-sm-6">
                                    <ul class="footer-list big">
                                        <li><a href="#">IRS Publications</a></li>
                                        <li><a href="#">Record Retention Guide</a></li>
                                        <li><a href="#">Tax Due Dates</a></li>
                                        <li><a href="#">Tax Forms</a></li>
                                        <li><a href="#">Tax Rates</a></li>
                                        <li><a href="#">Where is my refund?</a></li>
                                        <li><a href="#">Retirement</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4 col-lg-6 col-xxl-5">
                                    <ul class="footer-list big">
                                        <li><a href="#">Retirement</a></li>
                                        <li><a href="#">Investment</a></li>
                                        <li><a href="#">Real Estate</a></li>
                                        <li><a href="#">Insurance</a></li>
                                        <li><a href="#">Tax</a></li>
                                        <li><a href="#">Money</a></li>
                                        <li><a href="#">All Articles</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4">
                            <h5>Partners</h5>
                            <div class="row row-30 align-items-center text-center">
                                <div class="col-6 col-md-4 col-lg-6"><a class="link-image" href="#"><img src="images/footer-1-brand-1-144x70.png" alt="" width="144" height="35" /></a></div>
                                <div class="col-6 col-md-4 col-lg-6"><a class="link-image" href="#"><img src="images/footer-1-brand-2-121x68.png" alt="" width="121" height="34" /></a></div>
                                <div class="col-6 col-md-4 col-lg-6"><a class="link-image" href="#"><img src="images/footer-1-brand-3-121x33.png" alt="" width="121" height="16" /></a></div>
                                <div class="col-6 col-md-4 col-lg-6"><a class="link-image" href="#"><img src="images/footer-1-brand-4-101x76.png" alt="" width="101" height="38" /></a></div>
                                <div class="col-6 col-md-4 col-lg-6"><a class="link-image" href="#"><img src="images/footer-1-brand-5-107x53.png" alt="" width="107" height="26" /></a></div>
                                <div class="col-6 col-md-4 col-lg-6"><a class="link-image" href="#"><img src="images/footer-1-brand-6-97x52.png" alt="" width="97" height="26" /></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-inner-2">
                <div class="container">
                    <p class="rights"><span>Costrax</span><span>&nbsp;</span><span>&copy;&nbsp; </span><span class="copyright-year"></span><span>.&nbsp;</span><a href="privacy-policy.html">Privacy Policy</a>. Design&nbsp;by&nbsp;<a href="https://zemez.io/">Zemez</a></p>
                </div>
            </div>
        </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="~/ClientContent/js/core.min.js"></script>
    <script src="~/ClientContent/js/script.js"></script>
</body>
</html>